@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-3">
    <div class="text-center">
        <h1 class="display-4">Star Wars</h1>
    </div>

    <img src="/Images/3QLED1M-free-star-wars-wallpaper.jpg" alt="background image" class="img-fluid mt-5" style="border-radius:.75rem;" />
</div>