@{
    ViewData["Title"] = "Privacy";
}
<div class="container">
    <h1 class="text-warning mt-5">@ViewData["Title"]</h1>
    <h2 class="text-warning mx-auto mt-1">You came here expecting privacy, but get no privacy... <i class="bi bi-binoculars"></i></h2>
</div>
