@model Character

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-warning">Create Character</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AppearsIn"></label>
            <input asp-for="AppearsIn" class="form-control" />
            <span asp-validation-for="AppearsIn" class="text-danger"></span>
        </div>
        <p>If neither below apply, leave unchecked</p>
        <div class="form-check mb-3">
            @Html.LabelFor(Character => Character.Motive, "Good", htmlAttributes: new { @class = "form-check-label" })
            @Html.RadioButtonFor(Character => Character.Motive, "Good", htmlAttributes: new { @class = "form-check-input"})
            @*<input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            <label class="form-check-label" for="optionsRadios1">
                Option one is this and that—be sure to include why it's great
            </label>*@
        </div>
        <div class="form-check mb-3">
            @Html.LabelFor(Character => Character.Motive, "Evil", htmlAttributes: new { @class = "form-check-label" })
            @Html.RadioButtonFor(Character => Character.Motive, "Evil", htmlAttributes: new { @class = "form-check-input"})
        </div>
        <button type="submit" class="btn btn-warning" style="width:150px">Create</button>
        <a asp-controller="Character" asp-action="Index" class="btn btn-light" style="width:150px">
            Back to List
        </a>
    </div>
</form>
